node_modules
npm-debug.log
.next
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
README.md
*.md
*.log
*.swp
.DS_Store
.vscode
.idea
public
coverage
test
tests
e2e
docker-compose*
Dockerfile*
dockerfile*