html,
body {
  cursor: none;
}
.neon-border {
  --x: 50%;
  --y: 50%;
}

.neon-border::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1.5px;
  border-radius: inherit;

  background: radial-gradient(
    160px circle at var(--x) var(--y),
    rgba(var(--rgb), calc(var(--glow) + 0.2)),
    rgba(var(--rgb), var(--glow)),
    transparent 70%
  );

  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;

  pointer-events: none;
}

@keyframes cursor-breath {
  0%,
  100% {
    opacity: 0.35;
  }
  50% {
    opacity: 0.65;
  }
}

:root {
  --cx: 50vw;
  --cy: 50vh;
}

body::before {
  content: "";
  position: fixed;
  width: 420px;
  height: 420px;

  left: var(--cx);
  top: var(--cy);
  transform: translate(-50%, -50%);

  pointer-events: none;
  z-index: 0;

  background: radial-gradient(circle, rgba(153, 0, 255, 0.35), transparent 70%);

  filter: blur(32px);
  animation: cursor-breath 5s ease-in-out infinite;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;

  border-radius: 9999px;
  background: rgba(225, 0, 255, 0.8);

  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;

  mix-blend-mode: screen;
  transition:
    width 0.2s ease,
    height 0.2s ease;
}
a:hover ~ .custom-cursor,
button:hover ~ .custom-cursor {
  width: 32px;
  height: 32px;
}
